<app-header></app-header>
<div class="container-fluid">
    <br><br><br>
    <div class="row">
        <div class="col">
            <div class="card my-3">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-6">
                            <h4>
                                <small>
                                    <b>&nbsp;&nbsp;Employee</b>
                                </small>
                            </h4>
                        </div> <!-- end col-->
                        <div class="col-md-6 d-flex justify-content-end">
                            <a routerLink="/medicine" class="btn btn-md text-lg btn-primary">
                                <i class="fas fa-plus"></i> &nbsp; Add
                            </a>
                            &nbsp;&nbsp;
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">id</th>
                    <th scope="col">Name</th>
                    <th scope="col">Email</th>
                    <th scope="col">Role</th>
                    <th scope="col">Edit</th>
                    <th scope="col">Delete</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>Cell</td>
                    <td>Cell</td>
                    <td>Cell</td>
                    <td>+</td>
                    <td>-</td>
                </tr>
                
            </tbody>
        </table>
    </div>

    <br><br><br>
</div>